<div class="alert alert-info text-center" 
     role="alert"
     *ngIf="loading">

  <h4 class="alert-heading">Cargando...</h4>
  <p>
      <i class="fa fa-sync fa-spin fa-2x"></i>
  </p>
  <p class="mb-0"></p>

</div>

<!-- Error -->
<div class="alert alert-danger text-center" 
     role="alert"
     *ngIf="error!=null">

  <h4 class="alert-heading">...</h4>
  <pre>
      {{ error | json }}
  </pre>
  <p class="mb-0"></p>

</div>

<div *ngIf="!loading" 
     class="row row-cols-1 row-cols-md-2 g-4">

    <div class="col" *ngFor="let usuario of usuarios">
        <div class="card">
        <img [src]="usuario.avatar" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ usuario.first_name }} {{ usuario.last_name }} </h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            <p class="card-text">
                <span class="text-muted">
                    ID: {{ usuario.id }}
                </span>
            </p>
        </div>
        </div>
    </div>

  </div>